.new {
    margin-bottom: 8px;
    
    button {
        margin-left: 8px;
    }
}

.search {
    margin-bottom: 8px;
    align-items: center;
}

.recipe-button {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        margin-left: 8px;
    }
}
